a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
  ========================================================================== */

/**
* Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/

main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

img {
  border-style: none;
}

/* Forms
  ========================================================================== */

/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  font-family: inherit;
  /* 1 */
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgb(69, 133, 162), rgb(103, 103, 151), rgb(181, 88, 140));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.scroll-lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.page-content {
  padding-bottom: 80px;
}

.page-content .title--h2 {
  margin-bottom: 35px;
}

.page-content .title--h3 {
  margin-bottom: 24px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #7575e2;
  background-color: #f4f4fc;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}


.btn:disabled {
  color: #dddddd;
  background-color: #f8f8f8;
  pointer-events: none;
}

.btn.disabled {
  color: #dddddd;
  background-color: #f8f8f8;
  pointer-events: none;
}
