.header {
  // background-color: #f4f4fc;
  // width: 100%;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  padding-top: 4px;
}

.header__logo svg {
  width: 100px;
  height: 36px;
}

.header__main-nav {
  margin-left: 40px;
}

.header__basket-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-left: 40px;
  color: #7575e2;
  // background: #ffffff;
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.header__basket-link svg {
  width: 16px;
  height: 16px;
}

.header__basket-count {
  position: absolute;
  top: 8px;
  right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 14px;
  height: 14px;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
  // background-color: #ed6041;
  border-radius: 50%;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  display: block;
  padding: 22px 20px;
  font-weight: 600;
  color: #7575e2;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.main-nav__link--active {
  color: #7575e2;
  // background-color: #a2a2ff;
}

.main-nav__link:active {
  color: #7575e2;
  // background-color: #a2a2ff;
}

.main-nav__toggle {
  display: none;
}

.header {
  background-color: rgba(1, 1, 1, 0.5);
  // backdrop-filter: blur(15px);
}
